# Python virtual environments
.venv/
venv/



# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/

# VSCode
.vscode/

# Environment files
.env
*.env
.env.*


# Logs
*.log

# Cache & test artifacts
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Jupyter (if ever used)
.ipynb_checkpoints/

# Distribution folders
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Allure generated data
allure-results/
allure-report/

# Playwright / browser artifacts
test-results/
playwright-report/
screenshots/
videos/



